In [1]:
from pathlib import Path
import pandas as pd


ROOT_DIR = Path().resolve().parents[1]

FILE_PATH = ROOT_DIR / "data_processing" / "data" / "processed" / "analytics_table.parquet"

df = pd.read_parquet(FILE_PATH)
df.head()

,order_id,user_id,amount,quantity,created_at,status,status_clean,amount__isna,quantity__isna,date,year,month,dow,hour,country,signup_date,amount_winsor,amount__is_outlier
0,A4434,0021,479.46,6,2025-10-06 15:00:00+00:00,refunded,refund,False,False,2025-10-06,2025.0,2025-10,Monday,15.0,AE,2025-01-08,479.46,False
1,A0177,0677,124.64,4,2025-06-15 01:35:00+00:00,Refunded,refund,False,False,2025-06-15,2025.0,2025-06,Sunday,1.0,AE,2025-08-29,124.64,False
2,A2972,0763,<NA>,4,2025-11-14 23:05:00+00:00,Refunded,refund,True,False,2025-11-14,2025.0,2025-11,Friday,23.0,SA,2025-09-28,<NA>,<NA>
3,A2288,0197,397.26,7,2025-10-16 20:04:00+00:00,Paid,paid,False,False,2025-10-16,2025.0,2025-10,Thursday,20.0,QA,2025-03-11,397.26,False
4,A3985,0460,374.25,1,2025-01-16 03:21:00+00:00,Pending,pending,False,False,2025-01-16,2025.0,2025-01,Thursday,3.0,AE,2025-06-13,374.25,False

In [2]:
df = pd.read_parquet(FILE_PATH)

print("rows:", len(df), "cols:", len(df.columns))
print(df.dtypes.head(15))

missing = df.isna().sum().sort_values(ascending=False).head(10)
print(missing)

rows: 5250 cols: 18
order_id               string[python]
user_id                string[python]
amount                        Float64
quantity                        Int64
created_at        datetime64[ns, UTC]
status                         object
status_clean                   object
amount__isna                     bool
quantity__isna                   bool
date                           object
year                          float64
month                  string[python]
dow                            object
hour                          float64
country                        object
dtype: object
quantity              534
status                513
status_clean          513
dow                   507
hour                  507
created_at            507
date                  507
year                  507
month                 507
amount__is_outlier    495
dtype: int64