In [7]:
from pathlib import Path
import pandas as pd


ROOT_DIR = Path().resolve().parents[1] 

FILE_PATH = ROOT_DIR / "data_processing" / "data" / "processed" / "orders_clean.parquet"

df = pd.read_parquet(FILE_PATH)
df.head()

,order_id,user_id,amount,quantity,created_at,status,status_clean,amount__isna,quantity__isna
0,A0001,0001,12.5,1,2025-12-01T10:05:00Z,Paid,paid,False,False
1,A0002,0002,8.0,2,2025-12-01T11:10:00Z,paid,paid,False,False
2,A0003,0003,<NA>,1,2025-12-02T09:00:00Z,Refund,refund,True,False
3,A0004,0001,25.0,<NA>,2025-12-03T14:30:00Z,PAID,paid,False,True
4,A0005,0004,100.0,1,not_a_date,paid,paid,False,False