In [ ]:
from pathlib import Path
import pandas as pd


ROOT_DIR = Path().resolve().parents[1]

FILE_PATH = ROOT_DIR / "data_processing" / "data" / "processed" / "orders.parquet"

df = pd.read_parquet(FILE_PATH)
df.head()

  order_id user_id  amount  quantity            created_at    status
0    A4434    0021  479.46         6  2025-10-06T15:00:00Z  refunded
1    A0177    0677  124.64         4  2025-06-15T01:35:00Z  Refunded
2    A2972    0763    <NA>         4  2025-11-14T23:05:00Z  Refunded
3    A2288    0197  397.26         7  2025-10-16T20:04:00Z      Paid
4    A3985    0460  374.25         1  2025-01-16T03:21:00Z   Pending